@import "tailwindcss";

@plugin "tailwindcss-animate";

@tailwind utilities;

:root {
  background-color: rgb(3, 7, 18);
}

@layer base {
  html, 
  body {
    @apply h-full w-full m-0 p-0;
    background-color: rgb(3, 7, 18);
  }
  #root {
    @apply h-full w-full;
    background-color: rgb(3, 7, 18);
  }
}

main {
  padding-top: 4rem; 
}

.backdrop-blur-navbar {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.app-gradient {
  @apply bg-gradient-to-br from-gray-900 via-gray-800 to-black;
}

